# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*/appsettings.json

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
bin
obj
Tabkhity/appsettings.json
.vs
.vscode
Tabkhity/.config
Tabkhity/Properties/PublishProfiles